@keyframes slideInFromRight {
  0% {
    transform: translateX(100vw) translateY(20px); /* Start from outside the right edge of the viewport and slightly down */
    opacity: 0;
  }
  100% {
    transform: translateX(0) translateY(0); /* End at its original position */
    opacity: 1;
  }
}

.profilePic {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
  opacity: 0; /* Start hidden */
  animation: slideInFromRight 2.5s ease-out forwards; /* Slide in animation over 2.5 seconds */
  animation-delay: 0.5s; /* Optional: Add a delay if you want it to start after other animations */
}

.tokyo_tm_home {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.video_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -3;
}

.video {
  width: auto;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.home_content {
  position: relative;
  z-index: 1;
  padding: 20px;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.name {
  font-family: "Courier New", Courier, monospace;
  overflow: hidden;
  border-right: 0.15em solid black;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation:
    typing 3.5s steps(30, end),
    blink 0.75s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink {
  from, to { border-color: transparent; }
  50% { border-color: black; }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.details {
  margin-top: 20px;
}
